[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0"
djangorestframework = "*"
psycopg2-binary = "*"
django-environ = "*"
django-import-export = "*"
django-extensions = "*"
django-shell-plus = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
